@use "../mixins";
@use "../vars";

@mixin core {
  .cdk-overlay-container {
    position: fixed;
    inset: 0;
    z-index: 1000;
    pointer-events: none;
  }
  .cdk-overlay-backdrop {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: auto;
    background-color: vars.$backdrop;
  }
  .cdk-global-overlay-wrapper {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    pointer-events: none;
  }
  .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }
  cdk-dialog-container.cdk-dialog-container {
  }
}
